*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

button {
    padding: 14px 18px;
    cursor: pointer;
    border: none;
    margin: 10px;
    background-color: rgb(95, 94, 94);
    color: white;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.771);
}